.homepage_wrapper {
  padding: 20px;
}

.scroll_container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.scroll_container::-webkit-scrollbar {
  display: none;  
}

.poster_item {
  flex: 0 0 auto;
  margin-right: 10px;
  margin-bottom: 30px;
  min-width: 200px;  
}

@media screen and (max-width: 768px) {
  .poster_item {
    min-width: 150px;  
  }
}

@media screen and (max-width: 480px) {
  .poster_item {
    min-width: 100px;  
  }
}
